# OGSMS local environment
# Keep this file private. Do NOT commit it to GitHub.

MONGODB_URI=YOUR_MONGODB_CONNECTION_STRING
FLW_PUBLIC_KEY=YOUR_FLUTTERWAVE_PUBLIC_KEY
FLW_SECRET_KEY=YOUR_FLUTTERWAVE_SECRET_KEY
HERO_API_KEY=YOUR_HERO_SMS_API_KEY

# Resend
RESEND_API_KEY=YOUR_RESEND_API_KEY
FROM_EMAIL=OGSMS <support@getogsms.com>

# Local testing
APP_BASE_URL=http://localhost:5000
PORT=5000
